.button{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    padding: 12px;
    background-color: #3f51b5;
    min-width: 50px;
    width: fit-content;
    border-radius: 5px;
    color: white;
    margin: 10px;
}

.clickable{
    cursor: pointer;
}

.clickable:active {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
    transform: translateX(2px) translateY(2px);
  }

.clicked{
    background-color: red;
    cursor: not-allowed;
}